<ul>
	<li><a class="page-link" href="/">HOME</a></li>
	<li><a class="page-link" href="{{ site.baseurl }}\docs\dataprovider.html">Data Provider</a></li>
    {% for post in site.posts %}
      	<li>
    		<a class="page-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      	</li>
    {% endfor %}

	{% for page in site.pages %}
	  {% if page.title %}
	  	<li>
	  		<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
	  	</li>
	  {% endif %}
	{% endfor %}
</ul>